body {
  background-image: url(./img/backgroung_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.map-container{
  margin: 30px auto;
  width: 700px;
  height: 300px;
}
.map{
  height:100%;
}

.input-group {
  width: 700px;
}
.card {
  color: white;
}
.card, .list-group-item{
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    )
}
/* .moreInfo-container {
  visibility: hidden;
} */
@media only screen and (max-width: 750px) {
    .map-container {
        width: 500px;
    }
    .input-group {
      width: 500px;
    }
    h5, p {
      font-size: 1rem;
    }
}
