body {
background-image: linear-gradient(to right, #785807, #f1b10e);
}

.container {
  height: 100vh;
  max-width: 1250px;
}
.map-container{
  margin: 30px auto;
  width: 700px;
  height: 300px;
}
.map{
  height:100%;
}

.input-group {
  width: 700px;
}
.card {
  color: white;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card, .list-group-item{
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    )
}


@media only screen and (max-width: 812px) {
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .input-group {
    max-width: 320px;
  }

  .map-container {
    max-width: 330px;
  }
}

@media only screen and (max-width: 568px) {
  .input-group {
    max-width: 290px;
  }

  .map-container {
    max-width: 290px;
  }
}

@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 500px) {

}
