body {
  /* background-image: url(./img/world-map-400X300.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
background-image: linear-gradient(to right, #785807, #f1b10e);
}

.container {
  height: 100vh;
}
.map-container{
  margin: 30px auto;
  width: 700px;
  height: 300px;
}
.map{
  height:100%;
}

.input-group {
  width: 700px;
}
.card {
  color: white;
}
.card, .list-group-item{
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    )
}

@media only screen and ( min-width: 375px) {
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .input-group {
    width: 300px;
  }
  .map-container {
    width: 300px;
    height: 250px;
  }
  .card {
    text-align: center;
  }
}

@media only screen and ( min-width: 667px) {
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .input-group {
    width: 450px;
  }
  .map-container {
    width: 500px;
    height: 300px;
  }
}

@media only screen and ( max-width: 768px) {
  .container h1 {
    margin-bottom: 1.5rem;
  }
  .input-group {
    width: 450px;
  }
  .map-container {
    width: 600px;
    height: 300px;
  }
}

@media only screen and ( max-width: 1024px) {
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .input-group {
    width: 600px;
  }
  .map-container {
    width: 600px;
    height: 300px;
  }
}
